<!-- app.component.html -->
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Add Your Quotes
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <!-- Form for adding quotes -->
          <div class="card">
            <div class="card-header">
              Quotes
            </div>
            <div class="card-body">
              <!-- Form with validation -->
              <form [formGroup]="quoteFormGroup" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label> Author </label>
                  <input type="text" formControlName="author" class="form-control" />
                  <div *ngIf="quoteFormGroup.controls['author'].invalid && quoteFormGroup.controls['author'].touched" class="alert alert-danger mt-2">
                    Author is required.
                  </div>
                </div>
                <div class="form-group">
                  <label> Tags </label>
                  <input type="text" formControlName="tags" class="form-control" />
                  <div *ngIf="quoteFormGroup.controls['tags'].invalid && quoteFormGroup.controls['tags'].touched" class="alert alert-danger mt-2">
                    Tags are required.
                  </div>
                </div>
                <div class="form-group">
                  <label> QuoteText </label>
                  <input type="text" formControlName="quoteText" class="form-control" />
                  <div *ngIf="quoteFormGroup.controls['quoteText'].invalid && quoteFormGroup.controls['quoteText'].touched" class="alert alert-danger mt-2">
                    Quote text is required.
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Table for displaying quotes -->
        <div class="col-sm-6">
          <!-- Search input -->
          <div class="search-container">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." (input)="filterData()">
          </div>
          <!-- Quote table -->
          <table class="table">
            <thead>
              <tr>
                <td>Author</td>
                <td>Tags</td>
                <td>QuoteText</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filteredArray">
                <td>{{data.author}}</td>
                <td>{{data.tags}}</td>
                <td>{{data.quoteText}}</td>
                <td>
                  <button (click)="FillForm(data)" class="btn btn-link">Edit</button>
                  <button (click)="DeleteQuote(data)" class="btn btn-link">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
